@model eStore.ModelView.ModelPedidoManager
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciar Pedidos</title>
</head>
<body>
    <br />

    <a href="@Url.Action("Index","Manager")">
        <img src="@Url.Content("~/Assets/Manager/")images/home.png" />
    </a>
    <span class="manager_migalha">
        Gerenciar Pedidos
    </span>

    <div class="container_busca_titulo">
        Busca
    </div>


    <div class="container_busca">
        <div>
            <div style="width: 350px;float: left;">
                @using (Html.BeginForm("ListarPedidosPorFiltro", "Manager"))
                {
                    <input type="text" name="filtro_valor">
                    <input type="hidden" name="filtro_tipo" value="codigo">
                    <input type="submit" value="PESQUISAR POR CODIGO" class="botao_pesquisar_azul" />
                }
            </div>
            <div>
                @using (Html.BeginForm("ListarPedidosPorFiltro", "Manager"))
                {
                    <input type="text" name="filtro_valor">
                    <input type="hidden" name="filtro_tipo" value="email">
                    <input type="submit" value="PESQUISAR POR EMAIL" class="botao_pesquisar_azul" />
                }
            </div>
           
        </div>
       
    </div>
    <div class="info_cabecalho_tabelas">

        Página @Model.lista_pedidos.FirstItemOnPage de @Model.lista_pedidos.PageCount | Total de @Model.total_pedidos PEDIDOS
        @Html.PagedListPager(Model.lista_pedidos, page => Url.Action("GerenciarPedidos",
                                 new { page, pageSize = Model.lista_pedidos.PageSize }))
    </div>
    <table id="box-table-a" summary="Employee Pay Sheet">
        @if (Model.lista_pedidos.Count() > 0)
        {


            <thead>
                <tr>
                    <th scope="col" style="width:10%;">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">Comprador</th>
                    <th scope="col" style="width:10%;">Data do Pedido</th>
                    <th scope="col" style="width:10%;">Editar</th>

                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model.lista_pedidos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_comprador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.data_pedido)
                        </td>
                        <td>
                            <a href="@Url.Action("EditPedido", "Manager", new { id = item.id })">
                                <img src="@Url.Content("~/Assets/manager/")images/editar.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr>
                <td class="mensagem_aviso">
                    <span>Ops! Nenhum Pedido ainda :( </span>
                    <br />
                </td>
            </tr>
        }
    </table>

</body>
</html>

