@model eStore.ModelView.ModelCategoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciar Categorias</title>
</head>
<body>
    <br />
    <a href="@Url.Action("Index","Manager")">
        <img src="@Url.Content("~/Assets/Manager/")images/home.png" />
    </a>
    <span class="manager_migalha">
        Nova Categoria
    </span>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!--<div class="mensagem_erro">
            @Html.ValidationMessage("CustomError")
        </div>-->
        <div class="form-horizontal">
            <div class="titulo_pagina">Criar Nova Categoria</div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input_cadastro">
                <div class="label_name">
                    @Html.DisplayNameFor(modelItem => Model.Codigo)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
                <span class="help_tip">Código da Categoria</span>
            </div>

            <div class="input_cadastro">
                <div class="label_name">
                    @Html.DisplayNameFor(modelItem => Model.Nome)
                </div>
                <div class="col-md-30">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @size = "50" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
                <span class="help_tip">Nome que será exibido na loja</span>
            </div>

            <div class="input_cadastro">
                <div class="label_name">
                    @Html.DisplayNameFor(modelItem => Model.Descricao)
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input_cadastro">
                <div class="label_name">
                    @Html.DisplayNameFor(modelItem => Model.Bloqueado)
                </div>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Bloqueado)
                        @Html.ValidationMessageFor(model => model.Bloqueado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div>
                <div style="text-align:left;float:left;">
                    <div class="">
                        <input type="submit" value="CRIAR CATEGORIA" class="botao_verde" />
                    </div>
                </div>

                <div style="text-align:right;">
                    <a href="@Url.Action("GerenciarCategorias", "Manager")">
                        <div class="botao_azul">
                            VOLTAR
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }

</body>
