@model eStore.Entities.Categoria

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Categoria</title>
</head>
<body>
    <br />
    <a href="@Url.Action("Index","Manager")">
        <img src="@Url.Content("~/Assets/Manager/")images/home.png" />
    </a>
    <span class="manager_migalha">
        Editar Categoria
    </span>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="titulo_pagina">@Model.nome</div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="mensagem_erro">
                    @Html.ValidationMessage("CustomError")
                </div>
            }

            <div class="input_cadastro">
                @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input_cadastro">
                @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @size = "50" } })
                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input_cadastro">
                @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input_cadastro">
                @Html.LabelFor(model => model.bloqueado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.bloqueado)
                        @Html.ValidationMessageFor(model => model.bloqueado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div>
                <div style="text-align:left;float:left;">
                    <div class="">
                        <input type="submit" value="SALVAR" class="botao_verde" />
                    </div>
                </div>

                <div style="text-align:right;">
                    <a href="@Url.Action("GerenciarCategorias", "Manager")">
                        <div class="botao_azul">
                            VOLTAR
                        </div>
                    </a>
                </div>
            </div>

        </div>
    }
</body>
