@model IEnumerable<eStore.Entities.Categoria>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciar Categorias</title>
</head>
<body>
    <br />

    <a href="@Url.Action("Index","Manager")">
        <img src="@Url.Content("~/Assets/Manager/")images/home.png" />
    </a>
    <span class="manager_migalha">
        @Request.Url.LocalPath.Substring(0, Request.Url.LocalPath.LastIndexOf("/")).Replace("/", " - ")
    </span>

    <fieldset class="container_filtros">

        <legend>Filtros</legend>
        <div>
            <div>
                <div>
                    <input type="text" name="filter_nome">
                    <a href="#">
                        <div class="botao_azul">
                            PESQUISAR POR NOME
                        </div>
                    </a>
                </div>
                <div>
                    <input type="text" name="filter_id">
                    <a href="#">
                        <div class="botao_azul">
                            PESQUISAR POR CODIGO
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </fieldset>
    <div>

        <a href="@Url.Action("CriarCategoria", "Manager")">
            <div class="botao_verde">
                NOVA CATEGORIA
            </div>
        </a>
    </div>
    <table id="box-table-a" summary="Employee Pay Sheet">
        @if (Model.Count() > 0)
        {
            <thead>
                <tr>
                    <th scope="col" style="width:10%;">@Html.DisplayNameFor(model => model.codigo)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.nome)</th>
                    <th scope="col" style="width:10%;">Editar</th>
                    <th scope="col" style="width:10%;">Deletar</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                        <td>
                            <a href="@Url.Action("EditCategoria", "Manager", new { id = item.id })">
                                <img src="@Url.Content("~/Assets/manager/")images/editar.png" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteCategoria", "Manager", new { id = item.id })">
                                <img src="@Url.Content("~/Assets/manager/")images/lixeira.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr>
                <td class="mensagem_aviso">
                    <span>Ops! Nenhuma categoria encontrada. Tente criar uma nova :) </span>
                    <br />
                </td>
            </tr>
        }
    </table>

</body>
</html>
