@{
    ViewBag.Title = "Gerenciar Produtos";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<!DOCTYPE html>
<link href="@Url.Content("~/Assets/Manager/css")/filtros.css" rel='stylesheet' type='text/css' />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciar Produtos</title>
</head>
<body>
    <br />
    <a href="@Url.Action("Index","Manager")">
        <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/home.png" />
    </a>
    <span class="manager_migalha">
        @Request.Url.LocalPath.Replace("/", " ")
    </span>

    <fieldset class="container_filtros">

        <legend>Filtros</legend>
        <div>
            <div>
                <label>Buscar por Nome: </label>
                <input type="text" name="filter_nome">
            </div>
            <br />
            <div>
                <label>Buscar por Id:  </label>
                <input type="text" name="filter_id">
            </div>
        </div>
        <br />

    </fieldset>
    <div>
        <a href="#">
            <div class="botao_buscar">
                BUSCAR
            </div>
        </a>
    </div>
    <table id="box-table-a" summary="Employee Pay Sheet">
        <thead>
            <tr>
                <th scope="col" style="width:10%;">Foto</th>
                <th scope="col" style="width:10%;">Código</th>
                <th scope="col">Nome</th>
                <th scope="col" style="width:10%;">Bloqueado</th>
                <th scope="col" style="width:10%;">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/image_off.png" style="width:60px;height:60px;" />
                </td>
                <td>1</td>
                <td>Óculos</td>
                <td>
                    <a href="#">
                        <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/aprovado.png" />
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/editar.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/image_off.png" " style=" width:60px;height:60px;" />
                </td>
                <td>1</td>
                <td>Óculos</td>
                <td>
                    <a href="#">
                        <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/aprovado.png" />
                    </a>
                </td>
                <td>
                    <a href="#">
                        <img src="@Url.Content("~/Assets/Templates/GreTong/manager/")images/editar.png" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>

