<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>eStore - eCommerce - Bruno - Jefferson - Juliano</title>
    <link href="@Url.Content("~/Assets/Templates/GreTong/")css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="@Url.Content("~/Assets/Templates/GreTong/")js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/Assets/Templates/GreTong/")css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="@Url.Content("~/Assets/Templates/GreTong/")css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/Assets/Templates/GreTong/")js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="@Url.Content("~/Assets/Templates/GreTong/")js/menu_jquery.js"></script>
    <script src="@Url.Content("~/Assets/Templates/GreTong/")js/simpleCart.min.js"> </script>

    

</head>
<body>
    <!-- header_top -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="#">ajuda</a></li>|
                        <li><a href="contact.html">contato</a></li>|
                        <li><a href="#">frete</a></li>
                        <li><a href="@Url.Action("Index","Manager")">manager</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h2><span></span> telefone : 041 966666666</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Assets/Templates/GreTong/")images/logo.png" class="img-responsive" alt="" /> </a>
                    </div>
                    <!-- start header_right -->
                    <div class="header_right">
                        <div class="rgt-bottom">
                            <div class="log">
                                <div class="login">
                                    <div id="loginContainer">
                                        <a href="#" id="loginButton"><span>Login</span></a>
                                        <div id="loginBox">
                                            <form id="loginForm">
                                                <fieldset id="body">
                                                    <fieldset>
                                                        <label for="email">Email</label>
                                                        <input type="text" name="email" id="email">
                                                    </fieldset>
                                                    <fieldset>
                                                        <label for="password">Senha</label>
                                                        <input type="password" name="password" id="password">
                                                    </fieldset>
                                                    <input type="submit" id="login" value="Login">
                                                    <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Lembrar</i></label>
                                                </fieldset>
                                                <span><a href="#">Esqueceu a Senha?</a></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reg">
                                <a href="@Url.Action("MeuCadastro","Cadastro")">Cadastro</a>
                            </div>
                            <div class="cart box_1">
                                <a href="checkout.html">
                                    <h3> <span class="simpleCart_total">R$0,00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> itens)<img src="@Url.Content("~/Assets/Templates/GreTong/")images/bag.png" alt=""></h3>
                                </a>
                                <p><a href="@Url.Action("Index","Carrinho")" class="simpleCart_empty">(carrinho vazio)</a></p>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="create_btn">
                                <a href="checkout.html">FECHAR COMPRA</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="search">
                            <form>
                                <input type="text" value="" placeholder="buscar...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- start header menu -->

            </div>
        </div>
    </div>
    <div class="arriv">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    
    <div class="foot-top">
        <div class="container">
            <div class="col-md-6 s-c">
                <li>
                    <div class="fooll">
                        <h5>Nossas redes</h5>
                    </div>
                </li>
                <li>
                    <div class="social-ic">
                        <ul>
                            <li><a href="#"><i class="facebok"> </i></a></li>
                            <li><a href="#"><i class="twiter"> </i></a></li>
                            <li><a href="#"><i class="goog"> </i></a></li>
                            <li><a href="#"><i class="be"> </i></a></li>
                            <li><a href="#"><i class="pp"> </i></a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </li>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 s-c">
                <div class="stay">
                    <div class="stay-left">
                        <form>
                            <input type="text" placeholder="Digite o seu email para receber nossas novidades" required="">
                        </form>
                    </div>
                    <div class="btn-1">
                        <form>
                            <input type="submit" value="enviar">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 cust">
                <h4>AJUDA</h4>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">FAQ</a></li>
            </div>
            <div class="col-md-2 abt">
                <h4>SOBRE NÓS</h4>
                <li><a href="#">Nossa História</a></li>
                <li><a href="contact.html">Contato</a></li>
            </div>
            <div class="col-md-2 myac">
                <h4>MINHA CONTA</h4>
                <li><a href="register.html">Cadastrar</a></li>
                <li><a href="#">Meu Carrinho</a></li>
            </div>
            <div class="col-md-5 our-st">
                <div class="our-left">
                    <h4>ENDEREÇO</h4>
                </div>
                <div class="clearfix"> </div>
                <li><i class="add"> </i>Rua Imaculada Conceição, 1155 - Prado Velho</li>
                <li><i class="cep"> </i>CEP: 80215-901 </li>
                <li><a href="mailto:info@example.com"><i class="mail"> </i>email@estore.com </a></li>

            </div>
            <div class="clearfix"> </div>
            <p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</body>
</html>